body {
    font-family: sans-serif;
    font-weight: 500;
    height: 100%;
    margin: 0;
}

.tab {
    font-weight: 600;
}

#app-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 3em;
    min-height: 100vh;
}

#dash-graph {
    min-height: 100%;
}

#content {
    grid-column-start: 1;
    grid-column-end: 2;
}

#info-block {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(240, 240, 240);
    padding: 3em;
}